#root {
  margin: 0 auto;
  padding: 2rem;
}

.northbridge-southbridge{
  background-color: #fff;
  margin:1em 0;
}

table, tr, th, td {
  border:1px solid;
  padding:.5em;
  margin:2em 0;
}
td{
  white-space:pre-wrap; 
  word-wrap:break-word;
}